Source: ros-kilted-launch-pytest
Section: misc
Priority: optional
Maintainer: Aditya Pande <aditya.pande@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-copyright <!nocheck>, ros-kilted-ament-flake8 <!nocheck>, ros-kilted-ament-pep257 <!nocheck>, ros-kilted-ament-xmllint <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-launch-pytest
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-pytest, ros-kilted-ament-index-python, ros-kilted-launch, ros-kilted-launch-testing, ros-kilted-osrf-pycommon, ros-kilted-ros-workspace
Description: A package to create tests which involve launch files and multiple processes.
